<section class="detail-section" data-section-id="ffect">
    <div class="ds-wrapper">
        <div class="ds-title">
            <h1>基本信息</h1>
        </div>
        <div class="ds-contents">
            <div class="ds-content">
                <div class="dsc-title">
                    <h3><span>简介</span></h3>
                </div>
                <div class="property-list">
                    <ul>
                        <li id='introduction-item-1'><strong>~intro.label~</strong><span class="right">~intro.value~:1</span></li>
                        <li id='introduction-item-2'><strong>~intro.label~</strong><span class="right">平均 $~intro.value~/年</span></li>
                        <li id='introduction-item-3'><strong>~intro.label~</strong><span class="right">~intro.value~</span></li>
                        <li id='introduction-item-4'><strong>~intro.label~</strong><span class="right">~intro.value~% 录取率</span></li>
                        <li id='introduction-item-5'><strong>~intro.label~</strong><span class="right">学生总数 ~intro.value~</span></li>
                        <li id='introduction-item-6'><strong>~intro.label~</strong><span class="right">本科生比例 ~intro.value~%</span></li>
                        <li id='introduction-item-7'><strong>~intro.label~</strong><span class="right">男女比例 ~intro.value~%</span></li>
                        <li id='introduction-item-8'><strong>~intro.label~</strong><span class="right">~intro.value~</span></li>
                    </ul>
                </div>
            </div>
            <!--
            <div class="ds-content">
                <div class="dsc-content">
                    <div class="dsc-content-table">
                        <table class="data-block-body">
                            <tbody>
                                <tr class="data-block-tr">
                                    <td colspan="2" class="data-block-td">
                                        <div class="button bg-blue">
                                            <a class="submit-button bg-blue" href="#">
                                                <i class="demo-icon icon-chart-area">&#xe819;</i>&nbsp;&nbsp;给我推荐院校</a>
                                        </div>
                                    </td>
                                    <td colspan="2" class="data-block-td">
                                        <div class="button bg-orange">
                                            <a class="submit-button bg-orange " href="#">
                                                <i class="demo-icon icon-th-list">&#xe807;</i>&nbsp;&nbsp;DIY 查找院校</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            -->
            <!--
            <div class="ds-content">
                <div class="dsc-title">
                    <h3><span>推荐</span></h3>
                </div>
                <div class="dsc-content dsc-content-table">
                    <div class="full-col left">
                        <table class="data-block-body">
                            <tbody>
                                <tr class="data-block-tr">
                                    <td colspan="2" class="data-block-td">
                                        <div class="dbt-calc-wrap">
                                            <div class="dbt-calc-form half-col left">
                                                <div class="calc-fd-wrap ">
                                                    <div class="calc-fd-title">所在学校</div>
                                                    <div class="calc-fd">
                                                        <input type="text" class="calc-numeric" placeholder="e.g. 3.5">
                                                    </div>
                                                </div>
                                                <div class="calc-fd-wrap ">
                                                    <div class="calc-fd-title">目标专业</div>
                                                    <div class="calc-fd">
                                                        <input type="text" class="calc-numeric" placeholder="e.g. 3.5">
                                                    </div>
                                                </div>
                                                <div class="calc-fd-wrap ">
                                                    <div class="calc-fd-title">托福/雅思</div>
                                                    <div class="calc-fd">
                                                        <input type="text" class="calc-numeric" placeholder="e.g. 1800">
                                                    </div>
                                                </div>
                                                <div class="calc-fd-wrap ">
                                                    <div class="calc-fd-title">GPA</div>
                                                    <div class="calc-fd">
                                                        <input type="text" class="calc-numeric" placeholder="e.g. 26">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ftb-calc-butt half-col right">
                                                <div class="narrative-component">
                                                    <div class="calc-narr-wrap">
                                                        <div class="data-block-title">推荐我留学方案</div>
                                                        <p class="dbt-p">想知道自己进入哥伦比亚大学的几率吗? 输入你的 GPA 和英语测试成绩, 还可以加上你所在的院校和专业. 我们将会帮你计算,得到一个更好的选校方案.</p>
                                                        <p class="dbt-p">Have a good plan. Love you and congratulations!</p>
                                                        <div class="button bg-blue">
                                                            <a class="submit-button bg-blue" href="#">
                                                                <i class="demo-icon icon-chart-area">&#xe819;</i>&nbsp;&nbsp;给我推荐院校</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</section>
