<section data-section-id="top">
    <div class="d-header-img">
        <div class="d-header-img-content">
            <div class="dhi-main">
                <div class="dhi-single active">
                    <div class="dhi-bg-img" id='data-cover'></div>
                </div>
            </div>
        </div>

        <div class="dd-header-meta">
            <div class="d-small-body">
                <div class="dd-profile-img-wrap">
                    <div class="dd-profile-img">
                        <img class="img" id='data-logo' src="">
                        <a class="dd-profile-img-link">更多图片<i class="demo-icon icon-picture-1">&nbsp;&nbsp;&#xe81c;</i></a>
                    </div>
                </div>
                <div class="dd-title-wrap">
                    <h1 class="stnd-page-title">
                        <span class="title" id='data-name'></span>
                        <span class="sub" id='data-name-local'></span>
                    </h1>
                </div>
            </div>
        </div>

    </div>
    <div class="d-header-info">
        <div class="d-small-body">
            <div class="dhi-wrapper">
                <div class="dhi-content">
                    <ul class="md-list">
                        <li class="md-list-item"><span class="text-bold">本科生录取率: </span><span id='data-acceptance-rate'></span></li>
                        <li class="md-list-item"><span class="text-bold">学校总学生: </span><span id='data-student-amount'></span></li>
                        <li class="md-list-item"><span class="text-bold">参考学费: </span><span id='data-tution-amount-local'></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>