<section class="detail-section" data-section-id="rank">
    <div class="ds-wrapper">
        <div class="ds-title">
            <h1>排名</h1>
        </div>
        <div class="ds-contents">
            <div class="dsc-content">
                <div class="tabnav-wrapper">
                    <div class="dsc-tabnav tabnav">
                        <nav class="tabnav-tabs">
                            <div id='data-category-lable' class="tabnav-tab" data-bind-tab="rank">~category.lable~</div>
                        </nav>
                    </div>
                    <div id='data-category-content' class="tabnav-content hidden" data-bind-content="rank">
                        <div class="dsct-table-wrapper">
                            <table class="data-block-body">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="data-block-td">
                                            <div class="table-overview">
                                                <div style="width:25%" class="table-overview-box">
                                                    <div class="table-overview-label-wrap">
                                                        <div class="table-overview-label">~detail.label~综排</div>
                                                    </div>
                                                    <div class="viz-wrap">
                                                        <svg class="smart-viz" style="margin:4px;" width="81" height="81">
                                                            <g transform="scale(0.9418604651162791)">
                                                                <circle class="color" cx="43" cy="43" r="42" fill="#a8d76f"></circle>
                                                                <circle class="ring" cx="43" cy="43" r="38" fill="#fff"></circle>
                                                                <text x="43" y="51" text-anchor="middle" fill="#4d4d4d" class="text-bold">#~detail.rank~</text>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div style="width:75%" class="table-overview-box">
                                                    <div class='chart' id="~detail.rankchartid~" style="height:300px"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="ds-content">
                            <div class="dsc-title">
                                <h3><span>细分领域排名</span></h3>
                            </div>
                            <div class="dsc-content">
                                <div class="dsc-content-table">
                                    <div class="half-col left">
                                        <div class='chart' id="~detail.subrankchartid~" style="height:300px"></div>
                                    </div>
                                    <div class="half-col right">
                                        <table class="dbt-widget" cellspacing="0" cellpadding="0">
                                            <thead>
                                                <tr>
                                                    <th class="dbt-widget-th">细分领域</th>
                                                    <th class="dbt-widget-th">排名</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id='data-requirement-row' class="text-right">
                                                    <td class="dbt-cell">~requirement.label~</td>
                                                    <td class="dbt-cell">~requirement.amount~</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End big-navbar -->
</section>
