<section class="detail-section" data-section-id="local">
    <div class="ds-wrapper">
        <div class="ds-title">
            <h1>位置</h1>
        </div>
        <div class="ds-contents clearfix">
            <div class="ds-content">
                <div class="dsc-title">
                    <h3><span>地图</span></h3>
                </div>
                <div class="dsc-content">
                    <div class="dsc-content-table">
                        <div class="full-col">
                            <table class="data-block-body">
                                <tbody>
                                    <tr class="data-block-tr">
                                        <td colspan="2" class="data-block-td">
                                            <img src="{{ static_url('img/location.jpeg') }}" style="width:100%;">
                                        </td>
                                    </tr>
                                    <tr class="data-block-tr">
                                        <td colspan="2" class="data-block-td">
                                            <div class="row-list">
                                                <ul>
                                                    <li>
                                                        <span><span class="left text-bold">位置</span>
                                                        <span class="right" id='data-address'></span></span>
                                                    </li>
                                                    <li>
                                                        <span><span class="left text-bold">电话</span>
                                                        <span class="right cblue" id='data-telephone'><i class="demo-icon icon-phone">&#xe816;</i></span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
