<section class="detail-section" data-section-id="tuition">
    <div class="ds-wrapper">
        <div class="ds-title">
            <h1>学费</h1>
        </div>
        <div class="ds-contents clearfix">
            <div class="ds-content clearfix">
                <div class="tabnav-wrapper">
                    <div class="dsc-tabnav tabnav">
                        <nav class="tabnav-tabs">
                            <div id='data-category-lable' class="tabnav-tab" data-bind-tab="tuition">~category.lable~</div>
                            <!--
                            <a href="#" class="tabnav-tab selected" data-tabnav="tui-basic">住校学费</a>
                            <a class="tabnav-tab" data-tabnav="tui-basic">校外学费</a>
                            <a href="#" class="tabnav-tab" data-tabnav="tui-compare" style="display: none">学费对比</a>
                            -->
                        </nav>
                    </div>
                    <div class="tabnav-content">
                        <div id="data-category-content" class="dsc-content-table hidden" data-bind-content="tuition">
                            <div class="half-col left">
                                <table class="data-block-body">
                                    <tbody>
                                        <tr class="data-block-tr">
                                            <td colspan="2" class="data-block-td">
                                                <div class="chart" id="~category.chartid~" style="height:300px">
                                                    <!--<img src="{{ static_url('img/cost-example.jpeg') }}" style="width:100%;">-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="half-col right">
                                <table class="data-block-body">
                                    <tbody>
                                        <tr class="data-block-tr">
                                            <td colspan="2" class="data-block-td">
                                                <div class="data-block-in-td">
                                                    <table class="dbt-widget" cellspacing="0" cellpadding="0">
                                                        <thead>
                                                            <tr>
                                                                <th class="dbt-widget-th">费用</th>
                                                                <th class="dbt-widget-th">金额</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr id='data-fee-row-~category.hash~' class="text-right">
                                                                <td class="dbt-cell">~fee.label~</td>
                                                                <td class="dbt-cell">~fee.amount~</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="data-block-tr">
                                            <td colspan="2" class="data-block-td">
                                                <p class="dbt-p">在哈佛总费用为<span id='data-fee-total'></span>美元, which is significantly more expensive than other top tier private (not-for-profit) institutions in the country.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
