<div class="footer-first fullwidth background-secondary">
    <div class="container">
        <div class="row">
            <div class="call-to-action-text col-sm-12 col-md-9">Welcome to give us Feedback <b>YOUGER</b></div>
            <div class="col-right">
                <div class="bottom-deep-blue">
                    <a href="">Feedback Us</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<!-- /.footer-first -->
<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="footer-bottom-left">
                    <div class="widget widget_text">
                        <div class="textwidget">© All rights reserved <span class="separator">/</span> Created by <a href="">Yougoer</a>
                        </div>
                    </div>
                </div>
                <!-- /.footer-bottom-left -->
                <div class="footer-bottom-right">
                    <div class="widget">
                        <div class="menu-footer-container">
                            <ul class="menu">
                                <li class="menu-item menu-item-home"><a href="">Home</a></li>
                                <li class="menu-item"><a href="">Join Us</a></li>
                                <li class="menu-item"><a href="">Properties</a></li>
                                <li class="menu-item"><a href="">Feedback</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.footer-bottom-right -->
            </div>
            <!-- /.footer-bottom-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-bottom -->
</div>
<!-- /.footer -->
