<header class="detail-container">
    <a class="header-logo" href="#">
        <span class="octicon-logo">YOUGOER</span>
    </a>
    <!--
            <div class="header-actions">
                <a class="btn btn-primary" href="#">登录</a>
                <a class="btn" href="#">注册</a>
            </div>
            -->
    <ul class="header-nav left">
        <!--<li class="header-nav-item left">
            <a class="header-nav-link" href="#">选院校</a>
        </li>-->
        <!--<li class="header-nav-item left">
            <a class="header-nav-link" href="#">选专业</a>
        </li>-->
        <li class="header-nav-item left">
            <a class="header-nav-link" href="/map">看地图</a>
        </li>
        <li class="header-nav-item left">
            <a class="header-nav-link" href="#">关于我们</a>
        </li>
    </ul>
</header>
