<nav id="detail-nav-sidebar">
    <div class="detail-nav-wrap stnd-nav">
        <div class="dd-nav-item stnd-nav-item active" data-section-id="ffect">
            <a href=""></a>基本信息</div>
        <div class="dd-nav-item stnd-nav-item" data-section-id="rank">排名</div>
        <div class="dd-nav-item stnd-nav-item" data-section-id="admission">录取</div>
        <div class="dd-nav-item stnd-nav-item" data-section-id="tuition">学费</div>
        <div class="dd-nav-item stnd-nav-item" data-section-id="major">专业</div>
        <div class="dd-nav-item stnd-nav-item" data-section-id="student">学生</div>
        <div class="dd-nav-item stnd-nav-item" data-section-id="local">位置</div>
        <!--<div class="stnd-nav-item" data-section-id="wiki">百科</div>
        <div class="stnd-nav-item" data-section-id="comment">评论</div>-->
    </div>
</nav>
