<!--<div id="sidebar-wrapper" >
    <div class="sidebar-block bg-white">
        <table class="sidebar-block-body">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div>
                            <h4 class="sidebar-block-header">我的列表</h4>
                        </div>
                        <div id="sidebar-mylist" class="sidebar-mylist">
                            <div class="stnd-box  t02 clearfix">
                                <div class="stnd-box-cell checkbox">
                                    <input type="checkbox" id="" class="rcq-sb-cb stnd-checkbox-input">
                                    <label for="" class="stnd-checkbox-label"></label>
                                </div>
                                <div class="stnd-box-cell img"><img src="{{ static_url('img/yale.small.logo.png') }}"></div>
                                <a href="#" class="stnd-box-cell text">Yale</a>
                                <div class="stnd-box-cell remove"><i class="demo-icon icon-cancel">&#xe810;</i></div>
                            </div>
                            <div class="stnd-box  t02 clearfix">
                                <div class="stnd-box-cell checkbox">
                                    <input type="checkbox" id="" class="rcq-sb-cb stnd-checkbox-input">
                                    <label for="" class="stnd-checkbox-label"></label>
                                </div>
                                <div class="stnd-box-cell img"><img src="{{ static_url('img/yale.small.logo.png') }}"></div>
                                <a href="#" class="stnd-box-cell text">Yale</a>
                                <div class="stnd-box-cell remove"><i class="demo-icon icon-cancel">&#xe810;</i></div>
                            </div>
                        </div>
                        <div class="sb-full-content">
                            <div class="sb-empty-add">添加新院校</div>
                            <div class="button bg-blue">
                                <a class="submit-button bg-blue" href="#">马上对比<i class="demo-icon icon-right-open-big">&nbsp;&nbsp;&#xe823;</i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sidebar-block">
        <table class="sidebar-block-body">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div>
                            <h4 class="sidebar-block-header">喜欢该学校的人常用对比</h4>
                        </div>
                        <div id="sidebar-cmp" class="sidebar-comp">
                            <div class="sidebar-comp-items scrollbar-style scroll-light">
                                <a href="#">
                                    <div class="comp-listing t02 clearfix">
                                        <div class="comp-listing-images">
                                            <div class="comp-image-wrapper"><img src="{{ static_url('img/yale.small.logo.png') }}"></div>
                                            <div class="comp-vs-button"></div>
                                            <div class="comp-image-wrapper"><img src="{{ static_url('img/mit.small.logo.png') }}"></div>
                                        </div>
                                        <div class="comp-listing-anchor" href="#">
                                            <span class="comp-anchor-title">耶鲁大学</span>
                                            <span class="comp-vs-text">VS</span>
                                            <span class="comp-anchor-title">麻省理工</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="comp-listing t02 clearfix">
                                        <div class="comp-listing-images">
                                            <div class="comp-image-wrapper"><img src="{{ static_url('img/yale.small.logo.png') }}"></div>
                                            <div class="comp-vs-button"></div>
                                            <div class="comp-image-wrapper"><img src="{{ static_url('img/mit.small.logo.png') }}"></div>
                                        </div>
                                        <div class="comp-listing-anchor" href="#">
                                            <span class="comp-anchor-title">耶鲁大学</span>
                                            <span class="comp-vs-text">VS</span>
                                            <span class="comp-anchor-title">麻省理工</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
-->