
.icon-ok-circled:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-th-large:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-attention-alt:before { content: '\e80a'; } /* '' */
.icon-help:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-quote-left-alt:before { content: '\e80d'; } /* '' */
.icon-quote-right-alt:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-plus:before { content: '\e811'; } /* '' */
.icon-minus-circled:before { content: '\e812'; } /* '' */
.icon-minus:before { content: '\e813'; } /* '' */
.icon-link-1:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-phone:before { content: '\e816'; } /* '' */
.icon-down-open-big:before { content: '\e817'; } /* '' */
.icon-info-circled-1:before { content: '\e818'; } /* '' */
.icon-chart-area:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-th:before { content: '\e81b'; } /* '' */
.icon-picture-1:before { content: '\e81c'; } /* '' */
.icon-location:before { content: '\e81d'; } /* '' */
.icon-th-large-1:before { content: '\e81e'; } /* '' */
.icon-th-1:before { content: '\e81f'; } /* '' */
.icon-heart:before { content: '\e820'; } /* '' */
.icon-heart-empty:before { content: '\e821'; } /* '' */
.icon-left-open-big:before { content: '\e822'; } /* '' */
.icon-right-open-big:before { content: '\e823'; } /* '' */
.icon-up-open-big:before { content: '\e824'; } /* '' */
.icon-th-list-1:before { content: '\e825'; } /* '' */
.icon-graduation-cap:before { content: '\e827'; } /* '' */