<div class="c-filter-wrapper">
    <div class="c-filter-content">
        <div class="c-filter-input">
            <input type="text" class="calc-numeric" placeholder="e.g. 德州农工大学">
        </div>
        <div class="c-filter-select">
            <select name="arealist" form="filterform" class="r-select">
                <option value="all">地区</option>
                <option value="alabama">亚拉巴马州</option>
                <option value="alaska">阿拉斯加州</option>
                <option value="illinois">伊利诺斯州</option>
                <option value="madison">麦迪逊</option>
            </select>
        </div>
        <div class="c-filter-select">
            <select name="fieldlist" form="filterform" class="r-select">
                <option value="all">专业</option>
                <option value="computer">计算机</option>
                <option value="alaska">阿拉斯加州</option>
                <option value="illinois">伊利诺斯州斯州</option>
                <option value="madison">麦迪逊</option>
            </select>
        </div>
    </div>
</div>
<div id="cfilter-sort-view">
    <div class="cfilter-view-wrap">
        <span class="text">查看</span>
        <div id="cfilter-view-nav" class="cfilter-viewing-nav stnd-btn">
            <span class="cfvn-tog-current">
                                <i class="demo-icon icon-th-list-1">&#xe825;</i>&nbsp;Map&nbsp;<i class="demo-icon icon-down-open">&#xe804;</i>
                            </span>
            <div class="cfvn">
                <div class="cfvn-option" data-type="list">
                    <span class="cfvn-option-text"><i class="demo-icon icon-th-list-1">&#xe825;</i>List</span></div>
                <div class="cfvn-option" data-type="grid">
                    <span class="cfvn-option-text"><i class="demo-icon icon-th-large-1">&#xe81e;</i>Grid</span></div>
                <div class="cfvn-option" data-type="map">
                    <span class="cfvn-option-text"><i class="demo-icon icon-location">&#xe81d;</i>Map</span></div>
            </div>
        </div>
    </div>
</div>
