<div id="sidebar-wrapper bg-white" style="width: 100%;height: 100%;">
    <div id="map-right-top">
        <div class="c-filter-wrapper">
            <div class="c-filter-content">
                <!--<span class="text" style="padding-right: 5px;">排序</span>-->
                <div class="c-filter-select">
                    <select name="fieldlist" form="filterform" class="r-select">
                        <option value="all">排序:</option>
                        <option value="computer">计算机</option>
                        <option value="alaska">阿拉斯加州</option>
                        <option value="illinois">伊利诺斯州斯州</option>
                        <option value="madison">麦迪逊</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="cfilter-sort-view">
            <div class="cfilter-view-wrap">
                <span class="text">38 个结果</span>
            </div>
        </div>
    </div>
    <div id="map-srp" class="sidebar-block scrollbar-style scroll-light">
        <table class="sidebar-block-body ">
            <tbody>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val red">排名:#105 | 18880学生 | $303,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val red">排名:#105 | 18880学生 | $303,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val">排名:#7 | 1888学生 | ￥33,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val">排名:#7 | 1888学生 | ￥33,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val">排名:#7 | 1888学生 | ￥33,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val">排名:#7 | 1888学生 | ￥33,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val">排名:#7 | 1888学生 | ￥33,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="data-block-tr bt t02">
                    <td class="stnd-td srp-cell srp-img-cell" style="width: 100px;">
                        <img src="{{ static_url('img/yale.small.logo.png') }}">
                    </td>
                    <td class="stnd-td srp-cell srp-title-cell">
                        <h3 class="srp-listing-name">
                            <a class="srp-listing-title" href="#">杜克大学</a>
                            <div class="srp-listing-subtitle">Duke University</div>
                        </h3>
                        <div class="srp-keyval">
                            <div class="srp-val">排名:#7 | 1888学生 | ￥33,000/年</div>
                        </div>
                        <div class="srp-detail-compare">
                            <div class="srp-compare">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span> <span class="srp-compare-btn">加入我的列表</span></label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
