<div class="header">
    <div class="header-topbar">
        <div class="container">
            <div class="header-topbar-left">
            </div>
            <!-- /.header-topbar-left -->
            <div class="header-topbar-right">
                <div class="menu-container">
                    <ul class="menu">
                        <li class="menu-item"><a href="">Register</a></li>
                        <li class="menu-item"><a href="">Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.header-topbar-right -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-topbar -->
    <nav class="navbar navbar-default">
        <div class="header-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <img src="/static/img/logo.png" alt="YOUGOER" />
                    </a>
                    <p class="navbar-text">Know you the best!
                        <br>www.yougoer.com</p>
                </div>
                <!-- /.navbar-header -->
                <div class="navbar-search">
                    <form id="search-form" name="search-form" method="get" action="">
                        <input id="search-input" type="text" name="search-input" placeholder="Search…">
                        <input id="search-button" type="submit" name="search-button">
                    </form>
                    <!--/.search bar -->
                </div>
                <!-- /.navbar-info -->
                <div class="navbar-bottom"><a href=""> Login / Register </a></div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-top -->
        <div class="header-bottom" stick>
            <div class="container">
                <div class="menu-primary-container">
                    <ul id="primary-menu" class="navbar-nav navbar-collapse">
                        <li class="menu-item"><a href="">Home</a></li>
                        <li class="menu-item"><a href="">Set Course</a></li>
                        <li class="menu-item"><a href="">Aborad Planning</a></li>
                        <li class="menu-item"><a href="">Group</a></li>
                        <li class="menu-item"><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </nav>
</div>
<!-- /.header -->
