<div class="columns-main" ng-init="ranking.load()">
    <h2 id="college-rr-title" class="columns-title">Ranking & Ratings</h2>
    <div class="sub-summary">
        <p>Vivamus quis elementum magna. Morbi maximus orci nisi, eget fermentum nisi lobortis id. Phasellus eros leo, tempus et augue tempor, interdum blandit felis. Nunc scelerisque enim nisl, non iaculis sem varius vitae.</p>
    </div>
    <div class="columns-content">
        <div class="columns-table">
            <div class="columns-table-nav mb10">
                <div class="table-nav-title">USNEWS</div>
                <div class="table-nav-title">QS</div>
            </div>
            <div class="columns-table-content">
                <table>
                    <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.columns-table -->
    </div>
    <!-- /.columns-content -->
</div>
