<div class="property-gallery">
    <div class="property-gallery-preview">
        <a href=""><img width="1920" height="1100" src="{{cover_src}}" class="attachment-full" alt="Collge Scenery"></a>
    </div>
    <div class="property-college-index">
        <span class="property-college-logo"><img id='college_logo' width="200" height="200" src="{{logo_src}}" alt="College Logo"/></span>
        <span class="property-college-info">
            <h1 id='college_name'>{{college_name}}</h1>
        </span>
    </div>
</div>
