<div class="columns-main" ng-init="fastfacts.load()">
    <h2 id="college-ff-title" class="columns-title">Fast Facts</h2>
    <div class="columns-summary">
        <p>Vivamus quis elementum magna. Morbi maximus orci nisi, eget fermentum nisi lobortis id. Phasellus eros leo, tempus et augue tempor, interdum blandit felis. Nunc scelerisque enim nisl, non iaculis sem varius vitae. Nunc gravida rutrum mauris, eu sagittis velit finibus nec. In a ullamcorper nibh.</p>
    </div>
    <div class="columns-content">
        <div class="columns-list">
            <h2 class="columns-subtitle">Key Lists</h2>
            <div class="columns-ul">
                <ul>
                    <li><span><span>instsize</span> <strong>//fastfacts.l_instsize//</strong></span></li>
                    <li><span><span>locale</span> <strong>//fastfacts.l_locale//</strong></span></li>
                    <li><span><span>instcat</span> <strong>//data.l_instcat//</strong></span></li>
                    <li><span><span>calsys</span> <strong>//fastfacts.l_calsys//</strong></span></li>
                    <li><span><span>sector</span> <strong>//fastfacts.l_sector//</strong></span></li>
                    <li><span><span>ccbasic</span> <strong>//fastfacts.l_ccbasic//</strong></span></li>
                    <li><span><span>country</span> <strong>//fastfacts.map_country//</strong></span></li>
                </ul>
            </div>
        </div>
        <!-- /.columns-list -->
        <div class="columns-map">
            <h2 class="columns-subtitle">Location</h2>
            <div class="columns-map-wraps" data-latitude="//fastfacts.map_lati//" data-longitude="//fastfacts.map_long//">
            </div>
        </div>
    </div>
    <!-- /.columns-content -->
</div>
