<div class="columns-main" ng-init="tuition.load()">
    <h2 id="college-tui-title" class="columns-title">Tuition & Fee</h2>
    //tuition.json_data//
    <div class="columns-summary">
        <p>At {{college_name}}, tuition costs **$43,938**, which is significantly more expensive than other top tier private institutions in the country.</p>
    </div>
    <div class="columns-content">
        <div class="columns-valuation">
            <h2 class="columns-valuation-title">Application Fee</h2>
            <div class="columns-valuation-item">
                <dt>Graduate</dt>
                <dd>
                    <div class="valuation-bar" style="width://tuition.gradu_app_pre//"><span>//tuition.gradu_app_pre//</span></div>
                </dd>
                <span class="valuation-value">//tuition.gradu_app_fee//</span>
            </div>
            <div class="columns-valuation-item">
                <dt>Undergraduate</dt>
                <dd>
                    <div class="valuation-bar" style="width://tuition.under_app_pre//"><span>//tuition.under_app_pre//</span></div>
                </dd>
                <span class="valuation-value">//tuition.under_app_fee//</span>
            </div>
        </div>
        <!-- /.columns-valuation -->
        <div class="columns-valuation">
            <h2 class="columns-valuation-title">Tuition Total<span>//tuition.total//</span></h2>
            <div class="columns-valuation-item">
                <dt>Tuition & Fees</dt>
                <dd>
                    <div class="valuation-bar" style="width://tuition.tui_fee_pre//"><span>//tuition.tui_fee_pre//</span></div>
                </dd>
                <span class="valuation-value">//tuition.tui_fee//</span>
            </div>
            <div class="columns-valuation-item">
                <dt>Books & Supplies</dt>
                <dd>
                    <div class="valuation-bar" style="width://tuition.book_fee_pre//"><span>//tuition.book_fee_pre//</span></div>
                </dd>
                <span class="valuation-value">//tuition.book_fee//</span>
            </div>
            <div class="columns-valuation-item">
                <dt>Room & Board</dt>
                <dd>
                    <div class="valuation-bar" style="width://tuition.room_fee_pre//"><span>//tuition.room_fee_pre//</span></div>
                </dd>
                <span class="valuation-value">//tuition.room_fee//</span>
            </div>
            <div class="columns-valuation-item">
                <dt>Others</dt>
                <dd>
                    <div class="valuation-bar" style="width://tuition.other_fee_pre//"><span>//tuition.other_fee_pre//</span></div>
                </dd>
                <span class="valuation-value">//tuition.other_fee//</span>
            </div>
        </div>
        <!-- /.columns-valuation -->
    </div>
</div>
