<script type="text/javascript">
app.controller('CompareListController',
    function($http, $cookies, $document) {
        var compare = this;

        compare.add_text = 'Add to Compare'
        compare.add_disabled = false
        compare.able = false

        compare.current_slug = $("meta[name=college_index]").attr("content");

        var slugs = $cookies.get('slugs');
        if (angular.isUndefined(slugs)) slugs = "";

        compare.slugs = slugs.split('|');

        compare.load = function(slug) {
            $http.get('/college/' + slug + '/sharp').success(
                function(sharp) {
                    sharp['slug'] = slug;
                    compare.add(sharp);
                }
            );
        };

        compare.sharps = [];
        angular.forEach(compare.slugs, function(slug) {
            if (compare.current_slug == slug) {
                compare.add_disabled = true
            };

            compare.load(slug);
        });

        compare.save = function() {
            var now = new Date();
            now.setDate(now.getDate() + 30); 
            $cookies.put("slugs", compare.slugs.join("|"), {
                expires: now,
                path: "/college"
            });
        }

        compare.add_current = function() {
            var slug = compare.current_slug;
            if (compare.slugs.indexOf(slug) < 0) {
                compare.load(slug);
                compare.slugs.push(slug)
                compare.save();
                compare.add_disabled = true
            } else {
                console.log("slug '" + slug + "' already existed");
                return
            }
        };

        compare.add = function(sharp) {
            slug = sharp['slug'];

            if (compare.sharps.length < 4) {
                compare.sharps.push(sharp);
                if (compare.slugs.length >= 2) {
                    compare.able = true
                }

                return true
            } else {
                alert("compare box is full");
                return false
            }
        }

        compare.remove = function(sharp) {
            var i = compare.sharps.indexOf(sharp);
            if (i != -1) {
                compare.sharps.splice(i, 1);

                var slug = sharp['slug']
                var j = compare.slugs.indexOf(slug);
                if (j != -1) {
                    compare.slugs.splice(j, 1);
                }

                compare.save();

                if (compare.current_slug == slug) {
                    compare.add_disabled = false;
                }

                if (compare.slugs.length < 2) {
                    compare.able = false
                }
            }
        }
    }
);
</script>
<div class="sidebar col-sm-4 col-md-3" ng-controller="CompareListController as compare">
    <div class="widget widget_enquire_widget" ng-hide="compare.add_disabled">
        <div class="sidebar-content">
            <div class="button-wrapper">
                <a href="#" onclick="return false;" ng-click="compare.add_current()">
                    <div class="sidebar-button">//compare.add_text//</div>
                </a>
            </div>
        </div>
    </div>
    <!-- .widget -->
    <div class="widget widget_enquire_widget">
        <h2 class="widgettitle">Your List</h2>
        <div class="sidebar-content">
            <div class='.entry-right' ng-repeat="sharp in compare.sharps">
                <table>
                    <tr>
                        <td><img ng-src='//sharp.logo_small//' width='40' height='40' /></td>
                        <td>//sharp.college_name//</td>
                        <td>
                            <button ng-click="compare.remove(sharp)">del</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button-wrapper" ng-disabled="!compare.able">
                <a ng-model='compare.slugs' ng-href="/college/compare?slugs=//compare.slugs.join('|')//">
                    <div class="sidebar-button">Compare Now</div>
                </a>
            </div>
        </div>
    </div>
    <!-- .widget -->
</div>
