<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <link href="{{ static_url('css/basic.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('css/animation.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('css/primer.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('css/college.css') }}" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="main-top">
        {% include "../header.html" %}
    </div>
    <!-- END detail top -->
    <div id="main-about">
        <div id="main-container" class="about-page">
            <div class="about-intro">
                <h2 class="about-title">Welcome to YOUGOER</h2>
                <img src="{{ static_url('img/icon-big.png') }}" class="site-icon" style="opacity: 1;">
                <div class="col-full">
                    <div>
                        <p>
                            <i class="demo-icon icon-quote-left-alt">&#xe80d;</i>
                            <strong>有果儿 (yougoer)</strong>
                            <i class="demo-icon icon-quote-right-alt">&#xe80e;</i>提供13,000多所全球院校的最新信息，建立中国学生与海外院校的沟通桥梁。<br>为了给学生们提供更完善的留学解决方案，"有果儿" 现招募更多留学上下游合作伙伴，资源共享，打造更完善的服务体系。
                        </p>
                        <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
                        <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
                        <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="about-data" id="about-data">
                <h2 class="about-title">数据来源于</h2>
                <div class="col-full" style="display: block">
                    <p>
                        <i class="demo-icon icon-quote-left-alt">&#xe80d;</i>
                            <strong>有果儿 (yougoer)</strong>
                            <i class="demo-icon icon-quote-right-alt">&#xe80e;</i>
                            通过战略合作、对公开数据采集和wiki用户智集方式进行信息收集。主要数据提供方为Usnews、Times、QS 和 ARWU。
                    </p>
                    <div class="row" style="display: block">
                        <ul style="display: block">
                            <li class="l1 one-fourth left">
                                <a href="http://www.shanghairanking.cn/" target="_blank"><img src="{{ static_url('img/logo/arwu.png') }}" alt="arwu"></a>
                            </li>
                            <li class="l1 one-fourth left">
                                <a href="https://www.timeshighereducation.com/" target="_blank"><img src="{{ static_url('img/logo/thetimes.png') }}" alt="the times"></a>
                            </li>
                            <li class="l1 one-fourth left">
                                <a href="http://www.topuniversities.com/" target="_blank"><img src="{{ static_url('img/logo/qs.png') }}" alt="qs"></a>
                            </li>
                            <li class="l1 one-fourth left no-border">
                                <a href="http://www.usnews.com/education" target="_blank"><img src="{{ static_url('img/logo/usnews.png') }}" alt="usnews"></a>
                            </li>
                            <li class="l2 one-fourth left">
                                <a href="https://colleges.niche.com/" target="_blank"><img src="{{ static_url('img/logo/niche.png') }}" alt="niche"></a>
                            </li>
                            <li class="l2 one-fourth left">
                                <a href="https://www.cappex.com/" target="_blank"><img src="{{ static_url('img/logo/capper.png') }}" alt="capper"></a>
                            </li>
                            <li class="l2 one-fourth left">
                                <a href="http://www.campusexplorer.com/" target="_blank"><img src="{{ static_url('img/logo/campusexplorer.png') }}" alt="campusexplorer"></a>
                            </li>
                            <li class="l2 one-fourth left no-border">
                                <a href="https://zh.wikipedia.org/" target="_blank"><img src="{{ static_url('img/logo/wiki.png') }}" alt="wiki"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div id="main-footer" class="clearfix">
        {% include "../footer.html" %}
    </div>
</body>

</html>
