    .bar {
    background-color: #06A7EA;
}

.bar-green {
    background-color: #b2d765;
    background-image: none;
}

.bar-gray {
    background-color: #bbbbbb;
}

.page-wrapper {
    display: table;
    height: 100%;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.header-topbar {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.header-topbar .menu li {
    margin-left: 25px !important;
}

.header-topbar .menu li a {
    color: #707070;
    padding: 0px;
}

.header-topbar .menu li a:hover {
    background-color: transparent !important;
    color: #02344a;
}

.navbar-default {
    border-color: #e7e7e7;
}

.navbar {
    background-color: #fff;
    border: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    margin: 0px;
}

.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}

.header-top {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.navbar-header {
    margin-left: 0;
    margin-right: 0;
    float: left;
}

.navbar .navbar-brand {
    color: #02344a;
    display: inline-block;
    float: none;
    font-size: 24px;
    font-weight: 300;
    height: auto;
    padding: 30px 15px 30px 0px;
}

.navbar .navbar-brand img {
    display: inline-block;
    margin-right: 15px;
}

.navbar .navbar-brand span {
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
}

.navbar .navbar-text {
    border-left: 2px solid #f0f0f0;
    color: #707070;
    display: inline-block;
    float: none;
    margin: 0px;
    padding: 5px 0px 5px 20px;
}

.navbar-info {
    color: #707070;
    float: left;
    font-size: 18px;
    font-weight: lighter;
    margin: 40px 0px 0px 60px;
}

.navbar .navbar-bottom {
    float: right;
    margin-top: 40px;
}

.navbar .navbar-bottom a {
    background: #06a7ea;
    color: #fff;
    padding: 15px 40px;
}

.navbar-header:before,
.navbar-header:after {
    content: " ";
    display: table;
}

.navbar-header:after {
    clear: both;
}

.navbar-nav {
    background-color: #02344a;
    color: #fff;
    clear: both;
    display: block;
    float: none !important;
    margin: 0px -750px;
    padding: 0px 750px;
}

.navbar-collapse {
    border-color: #e7e7e7;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table;
}

.navbar-collapse:after {
    clear: both;
}

.navbar-nav > li {
    position: relative;
    display: inline-block;
    float: left;
    padding: 21px 0;
}

.navbar-nav > li > a {
    line-height: 20px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: #fff !important;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 25px;
}

.navbar-nav > li:hover > a {
    background-color: #022a3b !important;
    border-bottom-color: #022a3b;
    border-top-color: #06a7ea;
}


/*
main
*/

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.property-gallery {
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.property-gallery img {
    max-width: 100%;
    height: auto;
}

.property-gallery .property-gallery-preview {
    position: relative;
}

.property-gallery-preview:after {
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 100px);
    bottom: 0px;
    content: '';
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.property-gallery .property-college-index {
    bottom: 0;
    margin: 0;
    position: relative;
    height: 120px;
}

.property-gallery .property-college-logo {
    background-color: #fff;
    border-radius: 0px;
    color: #313131;
    line-height: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: -80px;
    z-index: 0;
}

.property-gallery .property-college-info {
    display: inline-block;
    margin-left: 200px;
}

.property-gallery h1 {
    display: inline-block;
    max-width: 650px;
    margin: 15px 15px 15px 15px;
    color: #000;
    font-weight: 500;
    line-height: 1;
}

.entry-left {
    display: inline-block;
    float: left;
    width: 23%;
    max-width: 194px;
}

.entry-right {
    display: inline-block;
    float: right;
    width: 77%;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.entry-right h2 {
    margin: 40px 0px;
}

.entry-left .entry-left-sidebar {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}

.entry-left .entry-left-sidebar a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    width: 100%;
    padding: 10px 0 10px 15px;
}

.entry-left .entry-left-sidebar a:hover {
    background: #e3e3e3;
    border-left: 2px solid #06a7ea;
    color: #06a7ea;
}

.entry-left .entry-left-sidebar .active {
    background: #06a7ea;
    color: #fff;
}

.property-overview {
    margin: 0px 0px 60px 0px;
    padding: 0px;
}

.sidebar h2,
.entry-right h2,
.entry-right h1,
.entry-right h3 {
    font-family: sans-serif;
}


/*
sidebar
*/

.sidebar .widget {
    background-color: transparent;
    margin-bottom: 0px;
}

.sidebar .widget:first-child .widgettitle {
    margin-top: 0px;
}

.sidebar .widget .widgettitle {
    line-height: 29px;
    margin: 40px -20px 20px -20px;
    padding: 0px 20px 0px 20px;
}

.widget .widgettitle {
    color: #707070;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}

.sidebar .sidebar-content {
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sidebar .sidebar-button {
    width: 100%;
    color: #fff;
    background: #022a3b;
    padding: 10px 0 10px 0;
    text-align: center;
}


/*
footer
*/

.bottom-deep-blue {
    background: #022a3b;
    padding: 15px 40px;
}

.footer-first {
    padding-bottom: 45px;
    padding-top: 45px;
}

.footer-first .call-to-action-text {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.footer-first .row a {
    color: #fff;
}

.widget .menu:after,
.clearfix:after,
.footer-bottom-inner:after {
    clear: both;
}

.footer .separator {
    color: rgba(255, 255, 255, 0.35);
    margin: 0px 10px;
}

.footer-bottom {
    background-color: #022a3b;
}

.footer-bottom-inner {
    color: #fff;
    font-size: 13px;
    padding: 15px 0px;
}

.footer-bottom-inner a {
    color: #06a7ea;
}

.footer-bottom-inner p {
    margin: 0px;
}

.footer-bottom-inner .menu > li + li {
    margin-left: 2px;
}

.footer-bottom-inner .menu > li > a {
    border-radius: 0px;
    color: #fff;
    padding: 8px 15px;
}

.footer-bottom-inner .menu > li > a:hover {
    background-color: transparent;
}

.footer-bottom-inner .menu > li:first-child a {
    padding-left: 0px;
}

.footer-bottom-inner .menu > li:last-child a {
    padding-right: 0px;
}

.footer-bottom-inner .textwidget {
    padding: 10px 0px;
}

.footer-bottom-left {
    float: left;
}

.footer-bottom-right {
    float: right;
    padding: 15px 0;
}

.footer .widget {
    color: #fff;
}

.header-topbar .menu > li,
.footer-bottom-inner .menu > li {
    float: left;
}

.widget .menu > li {
    position: relative;
    display: block;
}

.c-row {
    padding: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


/**************************/

.columns-content h2 {
    margin: 20px 0;
}

.columns-subtitle,
.columns-valuation-title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}

.columns-subtitle span,
.columns-valuation-title span {
    float: right;
}

.columns-valuation-item {
    margin-bottom: 15px;
}

.columns-valuation-item dt {
    display: inline-block;
    font-weight: normal;
    width: 130px;
}

.columns-valuation-item dd {
    display: inline-block;
    height: 15px;
    margin: 0px 15px 0px 0px;
    position: relative;
    width: 60%;
}

.columns-valuation-item dd .valuation-bar {
    background-color: #06a7ea;
    height: 100%;
    min-width: 8%;
}

.columns-valuation-item .valuation-bar span {
    font-size: 12px;
    color: #fff;
    display: block;
    padding-left: 5px;
}

.columns-valuation-item .valuation-value {
    float: right;
    max-width: 60px;
    overflow: hidden;
}

.columns-table {
    margin: 25px 0 20px 0;
}

.columns-table-nav {
    border-bottom: 1px dashed #eeeeee;
}

.table-nav-title {
    display: inline-block;
    padding: 8px 15px;
    color: #808080;
    background-color: #eeeeee;
    font-size: 18px;
    font-weight: 400;
    z-index: 10;
    margin-right: 8px;
}

.table-box {
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    min-height: 148px;
    margin: 0 0 13px;
}

.table-box-wrap {
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 0;
}

.columns-table table {
    width: 100%;
    table-layout: fixed;
}

.table-label {
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    color: #7a7a7a;
    line-height: 16px;
    padding: 10px 8px;
}

.table-label-wrap {
    height: 50px;
}

.table-valuation-bar {
    width: 85px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.table-bar-box {
    height: 100%;
    width: 20px;
}

.table-bar-wrap {
    background: #e9e9e9;
    height: 100%;
    position: relative;
    width: 20px;
}

.table-bar-wrap .bar {
    max-height: 100%;
    bottom: 0;
    position: absolute;
}

.table-valuation .value {
    position: relative;
    display: table-column;
    float: right;
    height: 75px;
    line-height: 75px;
    font-size: 16px;
    color: #000;
}

.table-valuation .value-big {
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    color: #454545;
}

.columns-map-wraps {
    height: 250px;
    position: relative;
    overflow: hidden;
    background-color: #eeeeee;
}

.columns-ul ul {
    display: inline-block;
    background-color: #eeeeee;
    list-style: none;
    padding: 12px 20px;
}
.columns-ul li {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    float: left;
    line-height: 40px;
    width: 48%;
}
.columns-ul li:nth-child(odd) {
    margin-right: 4%;

}
.columns-ul li strong {
    color: #02344a;
    float: right;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    height: 40px;
    max-width: 200px;
}
